<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Heaven7\Hungarianzipcodes\Api\ZipRepositoryInterface" type="Heaven7\Hungarianzipcodes\Model\ZipRepository"/>
	<preference for="Heaven7\Hungarianzipcodes\Api\Data\ZipInterface" type="Heaven7\Hungarianzipcodes\Model\Zip"/>
	<preference for="Heaven7\Hungarianzipcodes\Api\Data\ZipSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Magento\Framework\DB\LoggerInterface" type="Magento\Framework\DB\Logger\File"/>
	<virtualType name="Heaven7\Hungarianzipcodes\Model\ResourceModel\Zip\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">hungarian_zipcodes</argument>
			<argument name="resourceModel" xsi:type="string">Heaven7\Hungarianzipcodes\Model\ResourceModel\Zip\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\DB\Logger\File">
		<arguments>
			<argument name="logAllQueries" xsi:type="boolean">true</argument>
			<argument name="debugFile" xsi:type="string">debug/atwix.log</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="heaven7_hungarianzipcodes_zip_grid_data_source" xsi:type="string">Heaven7\Hungarianzipcodes\Model\ResourceModel\Zip\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
